// Copyright Chad Engler

plugin he.editor version="0.1.0" license="UNLICENSED" {
    authors { "Chad Engler" email=englercj@live.com }

    module he_editor kind=app_windowed group="engine/tools" {
        files { "include/**"; "src/**" }
        include_dirs { "src"; "${module.gen_dir}/src"; "${module.gen_dir}/src/shaders" }

        bin2c_compile scope=private compress=#true {
            files {
                "src/fonts/NotoMono-Regular.ttf"
                "src/fonts/NotoSans-Regular.ttf"
                "src/fonts/materialdesignicons.ttf"
            }
            include_dirs { "src" }
        }

        schema_compile "c++" scope=public {
            files {
                "include/he/editor/schema/display_attributes.hsc"
                "include/he/editor/schema/plugin.hsc"
                "include/he/editor/schema/project.hsc"
                "include/he/editor/schema/settings.hsc"
            }
            include_dirs { "include" }
        }

        public {
            dependencies {
                boost_di
                he_assets
                he_assets_editor
                he_core
                he_math
                he_rhi
                he_schema
                he_window
                imgui
                implot
            }
            include_dirs { "include"; "${module.gen_dir}/include" }
        }

        when platform.system=windows {
            warnings {
                "4127" enabled=#false
                "5054" enabled=#false
            }

            shader_compile "sm_6_0" scope=private {
                files { "src/shaders/imgui.slang" }
                include_dirs { "src/shaders" }
            }

            public {
                dependencies { "Shlwapi" kind=system }
            }
        }

        when platform.system=linux {
            shader_compile "glsl_450" scope=private {
                files { "src/shaders/imgui.slang" }
                include_dirs { "src/shaders" }
            }
        }
    }
}
