// Copyright Chad Engler

// Basis Universal - Supercompressed GPU Texture Codec
// http://www.binomial.info/
plugin binomial.basis_universal version="1.16.4" license="Apache-2.0" {
    authors { "Binomial LLC" }

    install {
        fetch github user=BinomialLLC repo=basis_universal ref="${plugin.version}"
    }

    module basis_universal kind=lib_static group="engine/contrib" {
        warnings level=off

        files {
            "${plugin.install_dir}/encoder/*.h"
            "${plugin.install_dir}/encoder/*.cpp"
            "${plugin.install_dir}/transcoder/*.h"
            "${plugin.install_dir}/transcoder/*.cpp"
        }

        defines {
            "BASISU_SUPPORT_SSE=1"
            "BASISD_SUPPORT_KTX2=1"
            "BASISD_SUPPORT_KTX2_ZSTD=1"
        }

        public {
            include_dirs external=#true { "${plugin.install_dir}" }
        }

        when tags=posix {
            public {
                dependencies { m kind=system; pthread kind=system }
            }
        }
    }
}
