// Copyright Chad Engler

// Slang - a shading language that makes it easier to build and maintain large shader codebases
// in a modular and extensible fashion.
// https://github.com/shader-slang/slang
plugin nvidia.slang version="0.28.2" license="MIT" {
    authors { "Carnegie Mellon University"; "NVIDIA Corporation" }

    install {
        when system=linux {
            fetch archive url="https://github.com/shader-slang/slang/releases/download/v${plugin.version}/slang-${plugin.version}-linux-x86_64.zip"
        }
        when system=windows {
            fetch archive url="https://github.com/shader-slang/slang/releases/download/v${plugin.version}/slang-${plugin.version}-win64.zip"
        }
    }

    module slang kind=lib_shared group="engine/contrib" {
        public {
            include_dirs { "." }
        }

        when system=windows arch=x86_64 {
            files {
                "bin/windows-x64/release/gfx.dll" action=copy
                "bin/windows-x64/release/slang.dll" action=copy
                "bin/windows-x64/release/slang-glslang.dll" action=copy
                "$(WindowsSdkDir)Redist/D3D/x64/dxcompiler.dll" action=copy
                "$(WindowsSdkDir)Redist/D3D/x64/dxil.dll" action=copy
            }

            public {
                dependencies { "bin/windows-x64/release/slang.lib" kind=file }
            }
        }

        when system=linux arch=x86_64 {
            files {
                "bin/linux-x64/release/libgfx.so" action=copy
                "bin/linux-x64/release/libslang.so" action=copy
                "bin/linux-x64/release/libslang-glslang.so" action=copy
            }
        }
    }
}
