// Copyright Chad Engler

// FreeType - A freely available software library to render fonts.
// https://freetype.org/
plugin freetype.freetype version="2.12.1" license="FTL" {
    authors { "Werner Lemberg" email=wl@gnu.org }

    install {
        fetch github user=freetype repo=freetype ref=VER-2-12-1
    }

    module freetype kind=lib_static group="engine/contrib" {
        warnings level=off

        files {
            "${plugin.install_dir}/src/autofit/autofit.c"
            "${plugin.install_dir}/src/base/ftbase.c"
            "${plugin.install_dir}/src/base/ftbbox.c"
            "${plugin.install_dir}/src/base/ftbdf.c"
            "${plugin.install_dir}/src/base/ftbitmap.c"
            "${plugin.install_dir}/src/base/ftcid.c"
            "${plugin.install_dir}/src/base/ftfstype.c"
            "${plugin.install_dir}/src/base/ftgasp.c"
            "${plugin.install_dir}/src/base/ftglyph.c"
            "${plugin.install_dir}/src/base/ftgxval.c"
            "${plugin.install_dir}/src/base/ftinit.c"
            "${plugin.install_dir}/src/base/ftmm.c"
            "${plugin.install_dir}/src/base/ftotval.c"
            "${plugin.install_dir}/src/base/ftpatent.c"
            "${plugin.install_dir}/src/base/ftpfr.c"
            "${plugin.install_dir}/src/base/ftstroke.c"
            "${plugin.install_dir}/src/base/ftsynth.c"
            "${plugin.install_dir}/src/base/fttype1.c"
            "${plugin.install_dir}/src/base/ftwinfnt.c"
            "${plugin.install_dir}/src/bdf/bdf.c"
            "${plugin.install_dir}/src/bzip2/ftbzip2.c"
            "${plugin.install_dir}/src/cache/ftcache.c"
            "${plugin.install_dir}/src/cff/cff.c"
            "${plugin.install_dir}/src/cid/type1cid.c"
            "${plugin.install_dir}/src/gzip/ftgzip.c"
            "${plugin.install_dir}/src/lzw/ftlzw.c"
            "${plugin.install_dir}/src/pcf/pcf.c"
            "${plugin.install_dir}/src/pfr/pfr.c"
            "${plugin.install_dir}/src/psaux/psaux.c"
            "${plugin.install_dir}/src/pshinter/pshinter.c"
            "${plugin.install_dir}/src/psnames/psnames.c"
            "${plugin.install_dir}/src/raster/raster.c"
            "${plugin.install_dir}/src/sdf/sdf.c"
            "${plugin.install_dir}/src/sfnt/sfnt.c"
            "${plugin.install_dir}/src/smooth/smooth.c"
            "${plugin.install_dir}/src/svg/svg.c"
            "${plugin.install_dir}/src/truetype/truetype.c"
            "${plugin.install_dir}/src/type1/type1.c"
            "${plugin.install_dir}/src/type42/type42.c"
            "${plugin.install_dir}/src/winfonts/winfnt.c"
        }

        defines {
            "_LIB"
            "FT2_BUILD_LIBRARY"
            "FT_CONFIG_OPTION_SYSTEM_ZLIB"
        }

        public {
            dependencies { zlib }
            include_dirs { "${plugin.install_dir}/include" }
        }

        when system="linux || macosx" {
            defines { "HAVE_UNISTD_H=1"; "HAVE_FCNTL_H=1" }
            files {
                "${plugin.install_dir}/builds/unix/ftsystem.c"
                "${plugin.install_dir}/src/base/ftdebug.c"
            }
        }

        when system=windows {
            files {
                "${plugin.install_dir}/builds/windows/ftsystem.c"
                "${plugin.install_dir}/builds/windows/ftdebug.c"
                "${plugin.install_dir}/src/base/ftver.rc"
            }
        }
    }
}
