// Copyright Chad Engler

// simdutf - Unicode routines (UTF8, UTF16, UTF32) using vector extensions.
// https://github.com/simdutf/simdutf
plugin simdutf.simdutf version="5.0.0" license="MIT" {
    authors { "Daniel Lemire" email=daniel@lemire.me }

    install {
        archive "https://github.com/simdutf/simdutf/releases/download/v${plugin.version}/singleheader.zip"
    }

    module simdutf kind=lib_static group="engine/contrib" {
        warnings level=off

        files { "simdutf.h"; "simdutf.cpp" }

        public {
            include_dirs external=#true { "." }
        }
    }
}
