// Copyright Chad Engler

// Doxygen - Generate documentation from source code.
// https://doxygen.nl/index.html
plugin doxygen.doxygen version="1.9.5" license="GPL-2.0" {
    authors { "Dimitri van Heesch" }

    install {
        when host=linux {
            archive "https://www.doxygen.nl/files/doxygen-${plugin.version}.linux.bin.tar.gz"
        }
        when host=windows {
            archive "https://www.doxygen.nl/files/doxygen-${plugin.version}.windows.x64.bin.zip"
        }
    }
}
