// Copyright Chad Engler

project "Harvest Engine" start=he_editor {
    // Setup project defaults for a Harvest Engine project
    import "./hemake/project_defaults.kdl"

    // Import the root Harvest Engine plugin
    import "./he_plugin.kdl"

    // Import all first-party and contrib plugins
    import "contrib/*"
    import "plugins/*"
}
