// Copyright Chad Engler

// Harvest Engine root import plugin
// This plugin acts as an easy way to import the entire engine.

plugin he.engine-root version="0.1.0" license="UNLICENSED" {
    module he_engine_root kind=custom group="engine/libs" {
        files {
            ".editorconfig"
        }
    }
}
