// Copyright Chad Engler

plugin he.assets version="0.1.0" license="UNLICENSED" {
    authors { "Chad Engler" email=englercj@live.com }

    module he_assets kind=lib_static group="engine/libs" {
        files { "assets/include/**"; "assets/src/**" }
        include_dirs { "assets/src" }

        schema_compile "c++" scope=public {
            files { "assets/include/he/assets/asset_types.hsc" }
            include_dirs { "assets/include" }
            dependencies { he_editor }
        }

        public {
            dependencies { he_core; he_schema }
            include_dirs { "assets/include"; "${module.gen_dir}/include" }
        }
    }

    module he_assets_editor kind=lib_static group="engine/libs" {
        files { "assets_editor/include/**"; "assets_editor/src/**" }
        include_dirs { "assets_editor/src" }

        dependencies { imgui; he_editor kind=include }

        public {
            dependencies { he_assets; he_core; he_schema; he_sqlite; basis_universal }
            include_dirs { "assets_editor/include"; "${module.gen_dir}/include" }
        }

        when platform.system=windows {
            public {
                dependencies { "Shlwapi" kind=system }
            }
        }
    }
}
