// Copyright Chad Engler

// SQLite - a C-language library that implements a small, fast, self-contained, high-reliability,
// full-featured, SQL database engine.
// https://www.sqlite.org/index.html
plugin sqlite3.sqlite3 version="3.42.0" license="blessing" {
    authors { "Dwayne Hipp" }

    install {
        fetch archive url="https://www.sqlite.org/2023/sqlite-amalgamation-3420000.zip" base_dir="sqlite-amalgamation-3420000"
    }

    module sqlite3 kind=lib_static group="engine/contrib" {
        warnings level=off

        files { "sqlite3.h"; "sqlite3.c" }

        defines {
            "SQLITE_DQS=0"
            "SQLITE_THREADSAFE=1"
            "SQLITE_DEFAULT_MEMSTATUS=0"
            "SQLITE_DEFAULT_WAL_SYNCHRONOUS=1"
            "SQLITE_LIKE_DOESNT_MATCH_BLOBS=1"
            "SQLITE_MAX_EXPR_DEPTH=0"
            "SQLITE_OMIT_DECLTYPE=1"
            "SQLITE_OMIT_PROGRESS_CALLBACK=1"
            "SQLITE_OMIT_SHARED_CACHE=1"
            "SQLITE_USE_ALLOCA=1"
            "SQLITE_ENABLE_FTS5=1"
        }

        public {
            include_dirs { "." }
            defines { "SQLITE_OMIT_DEPRECATED=1" }
        }

        when system=linux {
            public {
                dependencies { pthread kind=system; dl kind=system }
            }
        }

        when tags=debug {
            defines { "SQLITE_DEBUG=1" }
        }
    }
}
