# Copyright Chad Engler

// Compose - A Hugo theme for documentation websites.
// https://github.com/onweru/compose/
plugin onweru.compose version="823b5de743db69a764f2d7be33d940f0d674fead" license="MIT" {
    authors { "Weru" email=fromweru@gmail.com }

    install {
        github user=onweru repo=compose version="${plugin.version}"
    }
}
