// Copyright Chad Engler

// Zlib - a general purpose data compression library.
// https://zlib.net/
plugin madler.zlib version="1.2.13" license="Zlib" {
    authors { "Mark Adler" email=madler@alumni.caltech.edu }

    install {
        fetch github user=madler repo=zlib ref="v${plugin.version}"
    }

    module zlib kind=lib_static group="engine/contrib" {
        warnings level=off

        files { "${plugin.install_dir}/*.h"; "${plugin.install_dir}/*.c" }

        defines { "N_FSEEKO" }

        public {
            include_dirs { "${plugin.install_dir}" }
        }

        when tags=debug {
            public {
                defines { "ZLIB_DEBUG" }
            }
        }

        when platform.system=windows {
            defines { "_WINDOWS" }
        }
    }
}
