// Copyright Chad Engler

// WinPixEventRuntime - allows applications to be instrumented with marker events, for use with Microsoft PIX.
// https://devblogs.microsoft.com/pix/winpixeventruntime/
plugin microsoft.WinPixEventRuntime version="1.0.230302001" license="SEE LICENSE IN license.txt" {
    authors { "Microsoft" }

    install {
        when platform.system=windows {
            fetch nuget package=WinPixEventRuntime version="${plugin.version}"
        }
    }

    module WinPixEventRuntime kind=lib_shared group="engine/contrib" {
        public {
            include_dirs { "${plugin.install_dir}/Include/WinPixEventRuntime" }
        }

        when platform.system=windows platform.arch=x86_64 {
            files {
                "${plugin.install_dir}/bin/x64/WinPixEventRuntime.dll" action=copy
            }
            public {
                dependencies { "${plugin.install_dir}/bin/x64/WinPixEventRuntime.lib" kind=file }
            }
        }

        when platform.system=windows platform.arch=arm64 {
            files {
                "${plugin.install_dir}/bin/ARM64/WinPixEventRuntime.dll" action=copy
            }
            public {
                dependencies { "${plugin.install_dir}/bin/ARM64/WinPixEventRuntime.lib" kind=file }
            }
        }
    }
}
