// Copyright Chad Engler

// Provides core utilities and platform abstractions.
plugin he.core version="0.1.0" license="UNLICENSED" {
    authors { "Chad Engler" email=englercj@live.com }

    // Base core module that provides commonly used utilities and platform abstractions.
    module he_core kind=lib_static group="engine/libs" {
        files { "include/**"; "src/**"; "debugger/**" }
        include_dirs { "src" }
        dependencies { fast_float }

        public {
            include_dirs { "include" }
            dependencies { mimalloc; simdutf }
        }

        when system=linux {
            public {
                dependencies { dl kind=system; pthread kind=system; unwind kind=system; uring kind=system }
                defines {
                    "HE_IMPL_PLATFORM_RWLOCK_SIZE=56"
                    "HE_IMPL_PLATFORM_MUTEX_SIZE=40"
                    "HE_IMPL_PLATFORM_RECURSIVE_MUTEX_SIZE=40"
                    "HE_IMPL_PLATFORM_CONDITION_VARIABLE_SIZE=48"
                    "HE_IMPL_PLATFORM_SEMAPHORE_SIZE=32"
                    "HE_IMPL_PLATFORM_SYNC_EVENT_SIZE=12"
                }
            }
        }

        when tags=posix system=!linux {
            public {
                dependencies { dl kind=system; pthread kind=system }
                defines {
                    "HE_IMPL_PLATFORM_RWLOCK_SIZE=56"
                    "HE_IMPL_PLATFORM_MUTEX_SIZE=40"
                    "HE_IMPL_PLATFORM_RECURSIVE_MUTEX_SIZE=40"
                    "HE_IMPL_PLATFORM_CONDITION_VARIABLE_SIZE=48"
                    "HE_IMPL_PLATFORM_SEMAPHORE_SIZE=32"
                    "HE_IMPL_PLATFORM_SYNC_EVENT_SIZE=92"
                }
            }
        }

        when system=wasm {
            public {
                dependencies { he_core_wasm_libc }
                build_options {
                    "-matomics"
                    "-mbulk-memory"
                    "-mnontrapping-fptoint"
                }
                defines {
                    "HE_IMPL_PLATFORM_RWLOCK_SIZE=4"
                    "HE_IMPL_PLATFORM_MUTEX_SIZE=4"
                    "HE_IMPL_PLATFORM_RECURSIVE_MUTEX_SIZE=8"
                    "HE_IMPL_PLATFORM_CONDITION_VARIABLE_SIZE=12"
                    "HE_IMPL_PLATFORM_SEMAPHORE_SIZE=4"
                    "HE_IMPL_PLATFORM_SYNC_EVENT_SIZE=32"
                }
            }
        }

        when system=windows {
            public {
                dependencies {
                    shlwapi kind=system
                    user32 kind=system
                    kernel32 kind=system
                }
                defines {
                    "HE_IMPL_PLATFORM_RWLOCK_SIZE=8"
                    "HE_IMPL_PLATFORM_MUTEX_SIZE=8"
                    "HE_IMPL_PLATFORM_RECURSIVE_MUTEX_SIZE=40"
                    "HE_IMPL_PLATFORM_CONDITION_VARIABLE_SIZE=8"
                    "HE_IMPL_PLATFORM_SEMAPHORE_SIZE=8"
                    "HE_IMPL_PLATFORM_SYNC_EVENT_SIZE=8"
                }
            }
        }

        when system=windows {
            public {
                dependencies { DirectStorage }
            }
        }
    }

    // Minimal libc implementation for wasm.
    module he_core_wasm_libc kind=lib_static group="engine/libs" {
        files { "wasm_libc/include/**"; "wasm_libc/src/**" }
        include_dirs { "wasm_libc/src" }

        public {
            include_dirs { "wasm_libc/include" }
            // include-only, he_core will express an include & link dependency on us so that any
            // module depending on core will also pull this module.
            dependencies { he_core kind=include }
        }

        when system=wasm {
            public {
                defines {
                    "HE_LIBCPP_ABI_NAMESPACE=__${plugin[llvm.libcxx].abi_version}"
                }
                dependencies { libcxxabi; libcxx kind=link }
                include_dirs external=#true {
                    // Libcxx headers must come before wasm_libc headers, so we list those explicitly.
                    // Going instead through the normal `dependencies` flow would put wasm_libc headers first.
                    "${plugin[llvm.libcxx].path:dirname}/include"
                    "${plugin[llvm.libcxx].install_dir}/include"
                    "wasm_libc/include"
                }
            }
        }

        when system=!wasm {
            files update { "wasm_libc/**" build_exclude=#true }
            public {
                include_dirs external=#true { "wasm_libc/include" }
            }
        }
    }

    // Tests for the core module.
    module he_core_tests kind=lib_static group="engine/tests" {
        files { "test/**" }
        include_dirs { "src" }

        public {
            dependencies { he_core }
        }
    }

    // This is a console app that links all test projects and runs them.
    module he_test_runner kind=app_console group="engine/tests" {
        files { "test_runner/main.cpp" }

        public {
            dependencies {
                he_core
                :foreach module group="engine/tests" kind=lib_static {
                    "${_entry.name}" whole_archive=#true
                }
            }
        }
    }
}
