// Copyright Chad Engler

// mimalloc - a compact general purpose allocator with excellent performance.
// https://github.com/microsoft/mimalloc
plugin microsoft.mimalloc version="3.2.8" license="MIT" {
    authors { "Microsoft" }

    install {
        fetch github user=microsoft repo=mimalloc ref="v${plugin.version}"
    }

    module mimalloc kind=lib_static group="engine/contrib" {
        dialect c=c11
        warnings level=off

        files {
            "${plugin.install_dir}/include/**.h"
            "${plugin.install_dir}/src/alloc.c"
            "${plugin.install_dir}/src/alloc-aligned.c"
            "${plugin.install_dir}/src/alloc-posix.c"
            "${plugin.install_dir}/src/arena.c"
            "${plugin.install_dir}/src/bitmap.c"
            "${plugin.install_dir}/src/heap.c"
            "${plugin.install_dir}/src/init.c"
            "${plugin.install_dir}/src/libc.c"
            "${plugin.install_dir}/src/options.c"
            "${plugin.install_dir}/src/os.c"
            "${plugin.install_dir}/src/page.c"
            "${plugin.install_dir}/src/random.c"
            "${plugin.install_dir}/src/segment.c"
            "${plugin.install_dir}/src/segment-map.c"
            "${plugin.install_dir}/src/stats.c"

            // Override their prim.c with our own so we can detect WASM
            // "src/prim/prim.c"
            "prim/prim.c"
        }

        include_dirs {
            "${plugin.install_dir}/src"
            "."
        }

        dependencies { he_core kind=include }

        public {
            include_dirs { "${plugin.install_dir}/include" }
        }

        when tags=asan {
            defines { "MI_TRACK_ASAN=1" }
        }

        when tags=debug {
            defines { "MI_DEBUG=3" }
        }

        when tags=debug platform.system=windows {
            defines { "MI_TRACK_ETW=1" }
        }

        when platform.toolset="gcc || clang" {
            build_options { "-Wstrict-prototypes"; "-ftls-model=initial-exec" }
        }

        when platform.toolset=clang {
            build_options { "-Wpedantic"; "-Wno-static-in-inline" }
        }

        when tags=win32 {
            public {
                dependencies {
                    psapi kind=system
                    shell32 kind=system
                    user32 kind=system
                    advapi32 kind=system
                    bcrypt kind=system
                }
            }
        }

        when platform.system=linux {
            public {
                dependencies { pthreads kind=system; rt kind=system }
            }
        }

        when platform.system=wasm {
            public {
                // pretend to be wasi for mimalloc implementations
                defines { "__wasi__" }
            }
        }
    }
}
