// Copyright Chad Engler

// Dear ImGui - a bloat-free graphical user interface library for C++.
// https://github.com/ocornut/imgui
plugin ocornut.imgui version="1.89.6" license="MIT" {
    authors { "Omar Cornut" email=contact@dearimgui.com }

    install {
        // latest docking branch (as of v1.89.6)
        fetch github user=ocornut repo=imgui ref="823a1385a269d923d35b82b2f470f3ae1fa8b5a3"
    }

    module imgui kind=lib_static group="engine/contrib" {
        files {
            "imgui_user_config.h"
            "${plugin.install_dir}/imgui_draw.cpp"
            "${plugin.install_dir}/imgui_internal.h"
            "${plugin.install_dir}/imgui_tables.cpp"
            "${plugin.install_dir}/imgui_widgets.cpp"
            "${plugin.install_dir}/imgui.cpp"
            "${plugin.install_dir}/imgui.h"
            "${plugin.install_dir}/imstb_rectpack.h"
            "${plugin.install_dir}/imstb_textedit.h"
            "${plugin.install_dir}/misc/debuggers/imgui.natstepfilter"
            "${plugin.install_dir}/misc/debuggers/imgui.natvis"
            "${plugin.install_dir}/misc/freetype/imgui_freetype.cpp"
            "${plugin.install_dir}/misc/freetype/imgui_freetype.h"
        }

        public {
            defines { "IMGUI_USER_CONFIG=\"imgui_user_config.h\"" }
            dependencies {
                freetype
                he_core
                he_math kind=include // Need the types for the ImVec2 class extras
            }
            include_dirs {
                "${plugin.install_dir}"
                "."
            }
        }

        when tags=internal {
            files {
                "${plugin.install_dir}/imgui_demo.cpp"
            }
        }
    }
}
