// Copyright Chad Engler

// Fast Float - Fast and exact implementation of the C++ from_chars functions for number types.
// https://github.com/fastfloat/fast_float
plugin fastfloat.fast_float version="8.2.4" license="MIT" {
    authors {
        "Daniel Lemire" email=daniel@lemire.me
        "João Paulo Magalhaes"
    }

    module fast_float kind=lib_header group="engine/contrib" {
        warnings level=off

        files { "${module.path:dir}/include/**.h" }

        public {
            include_dirs external=#true {
                "${module.path:dir}/include"
            }
        }
    }
}
