// Copyright Chad Engler

// Doxybook2 - Doxygen XML to Markdown (or JSON) converter.
// https://matusnovak.github.io/doxybook2/
plugin matusnovak.doxybook2 version="1.4.0" license="MIT" {
    authors { "Matus Novak" email=email@matusnovak.com }

    install {
        when host=linux {
            fetch archive url="https://github.com/matusnovak/doxybook2/releases/download/v${plugin.version}/doxybook2-linux-amd64-v${plugin.version}.zip"
        }
        when host=windows {
            fetch archive url="https://github.com/matusnovak/doxybook2/releases/download/v${plugin.version}/doxybook2-windows-win64-v${plugin.version}.zip"
        }
    }
}
