// Copyright Chad Engler

plugin he.text_vector version="0.1.0" license="UNLICENSED" {
    authors { "Chad Engler" email=englercj@live.com }

    module he_text_vector_assets kind=lib_static group="engine/libs" {
        files { "assets/include/**"; "assets/src/**" }
        include_dirs { "assets/src" }

        schema_compile "c++" scope=public {
            files { "assets/include/he/text_vector/schema/runtime_blob.hsc" }
            include_dirs { "assets/include" }
        }

        public {
            dependencies { he_assets; he_core; he_schema }
            include_dirs { "assets/include"; "${module.gen_dir}/include" }
        }
    }

    module he_text_layout kind=lib_static group="engine/libs" {
        files { "layout/include/**"; "layout/src/**" }
        include_dirs { "layout/src" }

        public {
            dependencies { harfbuzz; he_core; he_math; he_text_vector_assets }
            include_dirs { "layout/include" }
        }
    }

    module he_text_vector kind=lib_static group="engine/libs" {
        files { "runtime/include/**"; "runtime/src/**" }
        include_dirs { "runtime/src" }

        public {
            dependencies { he_core; he_math; he_rhi; he_text_layout; he_text_vector_assets }
            include_dirs { "runtime/include" }
        }
    }

    module he_text_vector_editor kind=lib_static group="engine/libs" {
        files { "editor/include/**"; "editor/src/**" }
        include_dirs { "editor/src" }

        public {
            dependencies { freetype; he_assets_editor; he_editor; he_text_vector_assets }
            include_dirs { "editor/include" }
        }
    }

    module he_text_vector_docs kind=custom group="_internal/docs" {
        files { "README.md"; "docs/**"; "third_party/**" }
    }
}
