// Copyright Chad Engler

// An implementation of the C++ standard library, targeting C++11 and above.
// https://github.com/llvm/llvm-project
plugin llvm.libcxx version="18.1.2" license="Apache-2.0 WITH LLVM-exception" abi_version=2 {
    authors {}

    install {
        when platform.system=wasm {
            fetch archive url="https://github.com/llvm/llvm-project/releases/download/llvmorg-${plugin.version}/libcxx-${plugin.version}.src.tar.xz" base_dir="libcxx-${plugin.version}.src"
        }
    }

    when platform.system=wasm {
        module libcxx kind=lib_static group="engine/contrib" {
            warnings level=off

            files {
                // Includes
                "include/*"

            // Base sources
            "src/algorithm.cpp"
            "src/any.cpp"
            "src/atomic.cpp"
            "src/barrier.cpp"
            "src/bind.cpp"
            "src/charconv.cpp"
            "src/chrono.cpp"
            "src/condition_variable.cpp"
            "src/condition_variable_destructor.cpp"
            "src/exception.cpp"
            "src/filesystem/filesystem_clock.cpp"
            "src/filesystem/filesystem_error.cpp"
            "src/filesystem/path_parser.h"
            "src/filesystem/path.cpp"
            "src/functional.cpp"
            "src/future.cpp"
            "src/hash.cpp"
            "src/include/apple_availability.h"
            "src/include/atomic_support.h"
            "src/include/config_elast.h"
            "src/include/refstring.h"
            "src/include/ryu/common.h"
            "src/include/ryu/d2fixed.h"
            "src/include/ryu/d2fixed_full_table.h"
            "src/include/ryu/d2s.h"
            "src/include/ryu/d2s_full_table.h"
            "src/include/ryu/d2s_intrinsics.h"
            "src/include/ryu/digit_table.h"
            "src/include/ryu/f2s.h"
            "src/include/ryu/ryu.h"
            "src/include/to_chars_floating_point.h"
            "src/legacy_pointer_safety.cpp"
            "src/memory.cpp"
            "src/memory_resource.cpp"
            "src/mutex.cpp"
            "src/mutex_destructor.cpp"
            "src/new_handler.cpp"
            "src/new_helpers.cpp"
            "src/optional.cpp"
            "src/print.cpp"
            "src/random_shuffle.cpp"
            "src/ryu/d2fixed.cpp"
            "src/ryu/d2s.cpp"
            "src/ryu/f2s.cpp"
            "src/shared_mutex.cpp"
            "src/stdexcept.cpp"
            "src/string.cpp"
            "src/support/runtime/exception_fallback.ipp"
            "src/support/runtime/exception_glibcxx.ipp"
            "src/support/runtime/exception_libcxxabi.ipp"
            "src/support/runtime/exception_libcxxrt.ipp"
            "src/support/runtime/exception_msvc.ipp"
            "src/support/runtime/exception_pointer_cxxabi.ipp"
            "src/support/runtime/exception_pointer_glibcxx.ipp"
            "src/support/runtime/exception_pointer_msvc.ipp"
            "src/support/runtime/exception_pointer_unimplemented.ipp"
            "src/support/runtime/stdexcept_default.ipp"
            "src/support/runtime/stdexcept_vcruntime.ipp"
            "src/system_error.cpp"
            "src/thread.cpp"
            "src/typeinfo.cpp"
            "src/valarray.cpp"
            "src/variant.cpp"
            "src/vector.cpp"
            "src/verbose_abort.cpp"

            // Random Device
            // "src/random.cpp"

            // Filesystem
            // "src/filesystem/directory_entry.cpp"
            // "src/filesystem/directory_iterator.cpp"
            // "src/filesystem/file_descriptor.h"
            // "src/filesystem/operations.cpp"
            // "src/filesystem/posix_compat.h"
            // "src/filesystem/time_utils.h"
            // "src/filesystem/int128_builtins.cpp"

            // New/Delete Definitions
            // "src/new.cpp"
            }

            public {
                include_dirs external=#true { "include"; "${module.path:dir}/include" }
                dependencies { libcxxabi }
            }
        }
    }
}
