// Copyright Chad Engler

// [Boost::ext].DI - Header only Dependency Injection library with no dependencies.
// https://github.com/boost-ext/di
plugin boost-ext.di version="1.3.2" license="BSL-1.0" {
    authors { "Kris Jusiak" email=krzysztof@jusiak.net }

    install {
        fetch github user=boost-ext repo=di ref="v${plugin.version}"
    }

    module boost_di kind=lib_header group="engine/contrib" {
        files { "${plugin.install_dir}/include/**" }

        public {
            include_dirs {
                "${plugin.install_dir}/include"
                "${plugin.install_dir}/extension/include"
            }
        }
    }
}
