// Copyright Chad Engler

// ImPlot - an immediate mode, GPU accelerated plotting library for Dear ImGui.
// https://github.com/epezent/implot
plugin epezent.implot version="0.14" license="MIT" {
    authors { "Evan Pezent" email=epezent16@gmail.com }

    install {
        // latest master (post v0.14)
        fetch github user=epezent repo=implot ref="33c5a965f55f80057f197257d1d1cdb06523e963"
    }

    module implot kind=lib_static group="engine/contrib" {
        files {
            "${plugin.install_dir}/implot.cpp"
            "${plugin.install_dir}/implot.h"
            "${plugin.install_dir}/implot_internal.h"
            "${plugin.install_dir}/implot_items.cpp"
        }

        public {
            dependencies { imgui }
            include_dirs { "${plugin.install_dir}" }
        }

        when tags=internal {
            files {
                "${plugin.install_dir}/implot_demo.cpp"
            }
        }
    }
}
