// Copyright Chad Engler

// DirectStorage - DirectStorage APIs for Windows.
// https://www.nuget.org/packages/Microsoft.Direct3D.DirectStorage
plugin microsoft.DirectStorage version="1.2.1" license="SEE LICENSE IN LICENSE.txt" {
    authors { "Microsoft" }

    install {
        when system=windows {
            fetch nuget package=Microsoft.Direct3D.DirectStorage version="${plugin.version}"
        }
    }

    module DirectStorage kind=shared group="engine/contrib" {
        public {
            include_dirs { "native/include" }
        }

        when system=windows arch=x86_64 {
            public {
                dependencies {
                    "native/lib/x64/dstorage.lib" kind=file
                }
            }
            files {
                "native/bin/x64/dstorage.dll" action=copy
                "native/bin/x64/dstoragecore.dll" action=copy
            }
        }

        when system=windows arch=arm64 {
            public {
                dependencies {
                    "native/lib/ARM64/dstorage.lib" kind=file
                }
            }
            files {
                "native/bin/ARM64/dstorage.dll" action=copy
                "native/bin/ARM64/dstoragecore.dll" action=copy
            }
        }
    }
}
